PORT=3000
HOST=127.0.0.1
FRONTEND_MODE=react
CORS_ALLOW_ORIGIN=*
APP_LOGIN_PASSWORD=please-change-me

ARK_API_KEY=
ALIYUN_API_KEY=
ZHIPU_API_KEY=
VOLCENGINE_APP_KEY=
VOLCENGINE_ACCESS_KEY=
VOLCENGINE_SPEAKER_ID=
VOICE_CLONE_MOCK_MODE=false

PUBLIC_BASE_URL=
TIKHUB_API_TOKEN=
